
.colorpattern{
    position: fixed;
    bottom: 10px
}

.colorpattern-box{
    display: inline-block;
    height: 10px;
    width: 20px;
    background: black;
    margin: -2px;   
}

/*以上為顏色設計用*/

*{
    box-sizing: border-box;
}

.navbar{
    margin-bottom: 0px
}

.navbar-ora{
  background-color: #ffbfc3;
  border-color: #f4a7ab;
}

.navbar-ora .navbar-nav > .active > a,
.navbar-ora .navbar-nav > .active > a:hover,
.navbar-ora .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #ffbfc3;
}


.brand-text{
    font-size: 23px;
    color: #1c5c81;
    letter-spacing: 0.5px;
    font-weight: 500;
}

/*以上為navbar*/

/*以下為carousel*/
.CM{
    background-image: url(https://static.pexels.com/photos/97050/pexels-photo-97050.jpeg);
    background-size: 100% auto;
    padding: 50px 0px;
}

/*以下為carousel indicators*/

.carousel-indicators {
  text-align: right;
  margin: 0px auto;  
  bottom: -30px;
  right: 0px;
  left: 0px;
  width: 75%;
}

.carousel-indicators li {
  width: 15px;
  background-color:#d9888d;
  border-radius: 0px;
  border: 0px;
}

.carousel-indicators .active {
  width: 18px;
  background-color: #2d6381;
}

/*以下為carousel item 置中*/
.item{
    text-align: center;
}

.item img{
    max-height: 580px;
}

.item .SS17::before{
    content: '';
    position: absolute;
    top: 0;
    left: auto;
    right: 50%;
    bottom: 0;
    width: 515px;
    background-color: rgba(91, 113, 157, 0.29);
}

.item .SS17::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: auto;
    bottom: 0;
    width: 515px;
    background-color: rgba(157, 91, 91, 0.29);
}

.item .header-text{
    position: absolute;
    top: 35%;
    left: 2%;
        
    color: #fff;
    width: 96%;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
    z-index: 20;
}

@media screen and (max-width: 768px) {
    .carousel-inner .item img{
        width: 100%;
    } 
}

/*以上為carousel*/




/*以下為右側巡列*/
.rightnav{
    padding: 30px 40px 0px;
}

ul.nav-tabs.affix{
    top: 30px; /* Set the top position of pinned element */
}

.nav-tabs {
    border-bottom: 0px solid #a8d1e8; /*新增整個表格最下方的線*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0; /* 邊框寬度:0 完全看不到邊框 */
    background-color: transparent;
}

.nav-tabs > li > a {
    border: none;
    color: #2d6381;
    line-height: 15px
}

.nav-tabs > li.header{
    margin-right: 2px;
    line-height: 20px;
    color: #11435f;
    font-weight: 200;
    padding-top: 5px;
    text-align: left;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color:  black !important;
    background: transparent;
}
/*滑鼠移過 及 active 的字體顏色*/

.nav-tabs > li > a::after {
    content: "";
    background: #a9a199;
    height: 2px;
    position: absolute;
    width: 100px;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
/*在標題下方的線 做在 li>a::after 平時用scale(0)  */

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}

/*以上為右側巡列*/


/*以下為 showcase*/

.showcase h3{
    font-weight: 200;
}

.showbox{
    height: 675px;
    width: 800px;
    background: white;
    padding: 3px;
}

.showbox img{
    width: 100%;
    max-height: 100%;
}

.bigbox{
    width: 40%;
    height: 100%;
    border: 3px solid white;
    float: left;
    
    background: white;
}

.bigbox img{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}

.bigbox1{
    width: 30%;
    float: left;
    height: 100%;
    background: white;
}

.photobox{
    border: 3px solid white;
    background: #555;
    overflow: hidden;
}
.box4_27{
    width: 100%;
    height: 14.8%;
}

.box7_27{
    width: 100%;
    height: 27.8%;
}

.box4_9{
    width: 100%;
    height: 44.4%;
}

.box2_7{
    width: 100%;
    height: 15.8%;
}

.box3_7{
    width: 100%;
    height: 24%;
}

/*以上為 showcase*/

/*以下為footer*/
.footer{
    padding: 10px 5px 45px 5px;
    background: #a9a199;
}

.footer-ul{
    list-style: none;
    margin: 0;
    padding: 0px 15px 0px 5px;
}

.footer-ul li{
    
}

/*以上為footer*/


/**/

